<%# add navigation links to this file %>
<div class="tabbable" >
	<div class="container">
	<ul class="nav nav-tabs" style="border-bottom:0px">		
		<% if user_signed_in? %>
			
			<% if action_name == "index" %>
				<li class="active">
			<% else %>
				<li>
			<% end %>
		  <%= link_to '新房貸案件管理', backstage_path %></li>

		  <% if action_name == "onlendings" %>
				<li class="active">
			<% else %>
				<li>
			<% end %>
		  <%= link_to '增貸案件管理', backstage_onlendings_path %></li>

		  <% if action_name == "lenders" %>
				<li class="active">
			<% else %>
				<li>
			<% end %>
		  <%= link_to '專員管理', backstage_lenders_path %></li>

		  <% if action_name == "banks" %>
				<li class="active">
			<% else %>
				<li>
			<% end %>
		  <%= link_to '銀行產品', backstage_banks_path %></li>

		<% end %>
		<% if user_signed_in? %>
			<!-- <% if action_name == "edit" %>
				<li class="active">
			<% else %>
				<li>
			<% end %>
		  <%= link_to '編輯帳號', edit_user_registration_path %></li>
			-->
		  <li><%= link_to '登出', destroy_user_session_path, :method=>'delete' %></li>
		<% else %>
		  <li><%= link_to '登入', new_user_session_path %></li>
		  <li><%= link_to '註冊', new_user_registration_path %></li>
		<% end %>
	</ul>
	</div>
</div>