<div id="wrapper">
	<section id="inner-headline">
		<div class="container-fluid">
			<div class="row-fluid">
				<div class="span12">
					<div class="inner-heading">
					<h2>銀行房貸查詢</h2>
					</div>
				</div>	
			</div>			
		</div>
	</section>
    <section id="content">
		<div class="container-fluid">
			<div class="row-fluid">
				<div class="span12">
					<h5 class="widgetheading">銀行列表</h5>
					
					<hr>
					<ul class="unstyled bank-list" >
					    <li>
					    	<%= link_to("全部",root_path+"banks")%>
								<i class="icon-circled icon-bgdanger icon"><%= BankProduct.all.size %></i>
					    </li>
					    <% Bank.all.each do |bank|%>
					    	<li>
					    		<%= link_to(bank.name,root_path+"banks/#{bank.id}")%>
					    		<i class="icon-circled icon-bgdanger icon">
					    			<%= bank.bank_products.size %>
					    		</i>
					    	</li>
					    <% end %>	
					</ul>
				</div>
			</div>
			<div class="blankline30"></div>
			<div class="row-fluid">
				<div class="span12">
					<h5 class="widgetheading">方案列表  <a href="apply-mortgage.html" class="btn btn-theme">立即申請新房貸！ <i class="icon-angle-right"></i></a></h5>
					<hr>
					<table class="table table-bordered table-striped table-hover">
					    <thead>
					    <tr>
						<th>
						    編號
						</th>
						<th>
						    銀行名稱
						</th>
						<th>
						    方案名稱
						</th>
						<th>
						    房貸利率
						</th>
						<th>
						    綁約
						</th>
						<th>
						    寬限期
						</th>
						<th>
						    貸款成數
						</th>
						<th>
						    其他貸款條件
						</th>
					    </tr>
					    </thead>
					  
					  <tbody>
					  		<% products = @bank.bank_products %>
					  		<% products.each do |p|%>
						  		<tr>
						  			<td>
									    <%= p.id %>
										</td>
										<td width="10%">
											<img alt="Icon" src=<%= @bank.icon_link %> height="19" width="19"/>
									    <%= p.bank.name %>
										</td>
										
										<td>
										<%= link_to p.link,:target => "_blank" do %>
								     <%= p.title %>[詳細內容]
								     <% end %>
								   	</td>
										
										<td width="20%">
									    <%= p.interest %>
										</td>
										<td>
									    <%= p.binding %>
										</td>
										<td>
									    <%= p.grace_year %>
										</td>
										<td>
									    <%= p.portion %>
										</td>
										<td width="40%">
									    <%= p.other_info %>
										</td>
						  		</tr>
					  		<% end %>
					  </tbody>
					</table>
					<div class="cta-box">
						<div class="row-fluid">
							<div class="span12">
								<div class="cta-text">
									注意事項：本站所列資訊僅供參考，實際貸款條件請依各銀行提供之訊息為準。
									<p>本表利率為『名下無房貸之自住客戶』(首戶自住)所提供之利率條件，近期因央行房貸政策，對有一戶以上之房貸借款人會限縮貸款成數不得高於六成及調高利率、無寬限期…等規定 ；對有二戶以上之房貸借款人會限縮貸款成數不得高於五成及調高利率、無寬限期…等規定，詳細內容仍依各金融機構最新規定為準，依各金融機構貸款利率</p>
								</div>
							</div>
													
						
						</div>
					</div>
					<div class="blankline30"></div>
				</div>	
			</div>
		</div>
	</section>

</div>