<% if controller_name != "backstage" %>

<!-- google remarketing -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 1033372323;
var google_custom_params = window.google_tag_params;
var google_remarketing_only = true;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/1033372323/?value=0&amp;guid=ON&amp;script=0"/>
</div>
</noscript>

<% end %>

<footer>
		
	  <div class="container">
		  <div class="row-fluid">
			 	
		  	<div class="span4 alignleft">
				  <div class="widget">
				  	<h5 class="widgetheading">網站地圖</h5>
					  <ul class="link-list">
					    <li>
					    	<%= link_to "申請新房貸", apply_mortgage_path %>
					    </li>
					    <li>
					    	<%= link_to "申請增轉貸", apply_onlending_path %>
					    </li>
					    <li>
					    	<%= link_to "查詢房貸", banks_path %>
					    </li>
					    <li>
					    	<%= link_to "專員登入", root_path+"user_lenders/sign_in" %>
					    </li>
					    <li>
					    	<%= link_to "專員註冊", root_path+"user_lenders/sign_up" %>
					    </li>
					  </ul>
				  </div>
			 	</div>

				<div class="span4">
				  <div class="widget">
				  	<h5 class="widgetheading">關於EZBANK</h5>
					  <ul class="link-list">
					    <li>
					    	<%= link_to "隱私權聲明", privacy_path %>
					    </li>
					    <li>
					    	<%= link_to "服務條款", term_path %>
					    </li>
					    <li>
					    	<%= link_to "常見問題", faq_path %>
					    </li>
					    <li>
					    	<%= link_to "關於我們", about_us_path %>
					    </li>
					    <li>客服信箱：service@ezbank.com.tw</li>
					  </ul>
				  </div>
			 	</div>

			 	<div class="span4">
		  		<div class="widget team-box" style="margin-left:0px">
					 	<div class="fb-like-box" data-href="https://www.facebook.com/ezbank.com.tw" data-width="100%" data-height="200" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="false" data-show-border="false"></div>
					</div>
				</div>
			  
		  </div>
	  </div>
		
	  <div id="sub-footer">
			<div class="container">
				<div class="row">
					<div class="span6">
					<div class="copyright">
						<p><span>&copy;2014 EZBANK. All right reserved</span></p>
					</div>			
					</div>
				</div>
			</div>
		</div>

	</footer>