<div id="fb-root"></div>
<script>
 window.fbAsyncInit = function() {
			FB.init({
			appId : '303654936503418',
			xfbml : true,
			version : 'v2.1'
			});
		};

(function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
</script>

<% if controller_name != "backstage" %>

<!-- google analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-55723578-1', 'auto');
  ga('send', 'pageview');

</script>

<% end %>

<link href='http://fonts.googleapis.com/css?family=Copse|Playfair+Display+SC:400,400italic,700,700italic,900,900italic|Vidaloka|Poly:400,400italic' rel='stylesheet' type='text/css'>

<header>	
	<div class="top">
		<div class="container">
			<p style="color: white;margin-bottom: 0px;font-size:15px; color:white">
				您好, 歡迎來到估屋網! 目前有 32 位合作專員
				<!-- <span style="float:right;">
					<% if current_user_lender == nil %>
						[
						<%= link_to root_path+"user_lenders/sign_up", :style => "color:white;font-size:15px" do %>
							專員註冊
						<% end %>
						]
						[
						<%= link_to root_path+"user_lenders/sign_in", :style => "color:white;font-size:15px" do %>
							專員登入
						<% end %>	
						]
					<% else %>
						<% begin %>
							<%= current_user_lender.lender.name %>專員,您好
						<% rescue Exception => e %>
							<%= current_user_lender.email %>專員,您好
						<% end %>
							[
								<%= link_to "我的檔案", root_path+"user_lenders/#{current_user_lender.lender.id}/user_center", :style => "color:white;font-size:15px" %>									
							]
							[
								<%= link_to "我的案件", root_path+"user_lenders/#{current_user_lender.lender.id}/user_cases", :style => "color:white;font-size:15px" %>									
							]
							[
								<%= link_to "登出", root_path+"user_lenders/sign_out", :style => "color:white;font-size:15px" %>						
							]	
					<% end %>
				</span> -->
			</p>
		</div>
	</div>	
	<div class="container">

		<div class="row-fluid nomargin">
			<div class="span6">
				<div class="logo">
					<%= link_to(root_path) do %>
						 <div class="logo" style="float: none;">
						 	<%= image_tag("logo3.png", :style => "margin-bottom:0px") %>
						 </div>
					<% end %>	
					<br>	
					<p style="font-size:18px;margin-top:-30px">多家銀行，快速估價，24小時回覆</p>				
				</div>
							
		  </div>
			<!-- <div class="span2">
				<div class="fb-like" data-href="https://www.facebook.com/ezbank.com.tw" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
			</div> -->
		<div class="span6">
			<div class="navbar navbar-static-top">
				<div class="navigation">
					<nav>
					<ul class="nav topnav">
							<% if action_name == "index" || action_name == "privacy" || action_name == "term"%>					
								<li class="dropdown active">
							<% else %>
								<li>
							<% end %>
									<%= link_to(root_path) do %>
										<i class="icon-home"></i>首頁
									<% end %>
							</li>
							
							<% if action_name == "apply_case" %>
								<li class="dropdown active">
							<% else %>
								<li>
							<% end %>
								<%= link_to "申請快速估價", apply_case_path %>
							</li>	

							<% if action_name == "knowledges" %>
								<li class="dropdown active">
							<% else %>
								<li>
							<% end %>
								<%= link_to "房貸知識家", knowledge_home_loan_knowledge_path %>
							</li>	

							<% if action_name == "banks_list" %>
								<li class="dropdown active">
							<% else %>
								<li>
							<% end %>
								<%= link_to "查詢房貸", banks_path %>
							</li>

					</ul>
					</nav>
				</div>
				<!-- end navigation -->
			</div>
		</div>
		</div>
	</div>
</header>	
<!-- end header -->