<div id="wrapper">
	<section id="inner-headline">
		<div class="container-fluid">
			<div class="row-fluid">
				<div class="span12">
					<div class="inner-heading">
					<h2>我的檔案</h2>
					</div>
				</div>
			</div>			
		</div>
	</section>
	<section id="content">
		<div class="container-fluid">
			<div class="row-fluid">
				<div class="span2">
					<%= render "user_lenders/nevigation_links2" %>
				</div>
				<div class="span9">
					
					<div class="row-fluid form-horizontal bs-callout bs-callout-info">

						<div class="control-group">
							<label class="control-label " for="">我的圖片<br /></label>

							<div class="controls">
								<% if @lender.card_file_name != nil%>
									<%= image_tag @lender.card.url(:thumb) %>
								<% end %>
							</div>
						</div>

						<div class="control-group">
						    <label class="control-label" for="">專員姓名<br /></label>
						    <div class="controls">
									<%= @lender.name %>
						    </div>
						</div>

						<div class="control-group">
						    <label class="control-label" for="">信箱<br /></label>
						    <div class="controls">
									<%= @lender.email %>
						    </div>
						</div>

						<div class="control-group">
						    <label class="control-label" for="">公司電話<br /></label>
						    <div class="controls">
									<%= @lender.contact_company_phone %>
						    </div>
						</div>

						<div class="control-group">
						    <label class="control-label" for="">個人電話<br /></label>
						    <div class="controls">
									<%= @lender.contact_personal_phone %>
						    </div>
						</div>

						<div class="control-group">
						    <label class="control-label" for="">公司名稱<br /></label>
						    <div class="controls">
									<%= @lender.bank %>
						    </div>
						</div>

						<div class="control-group">
						    <label class="control-label" for="">分行/通訊處<br /></label>
						    <div class="controls">
									<%= @lender.bank_branch %>
						    </div>
						</div>

						<div class="control-group">
						    <label class="control-label" for="">職稱<br /></label>
						    <div class="controls">
									<%= @lender.work_title %>
						    </div>
						</div>

						<div class="control-group">
						    <label class="control-label" for="">承做區域<br /></label>
						    <div class="controls">
									<% County.all.each do |county| %>
						    		<% county_check = false %>
						    		<% @lender.counties.each do |couty_l|%>
						    			<% if couty_l.id == county.id %>
						    				<%= county.name%>
						    			<% end %>
						    		<% end %>
						    	<% end %>
						    </div>
						</div>

						<div class="control-group">
						    <div class="controls">
						    	<div class="form-actions">
						    	<%= link_to root_path+"user_lenders/#{@lender.id}/user_edit" do %>
						    		<button class="btn btn-success btn-rounded">個人資料修改</button>
						    	<% end %>
						    	</div>
						    </div>
						</div>

					</div>
				</div>
		</div>
	</section>

</div>