<div id="wrapper">
	<section id="inner-headline">
		<div class="container">
			<div class="row-fluid">
				<div class="span12">
					<div class="inner-heading">
					<h2>我的增轉貸案件</h2>
					</div>
				</div>
			</div>			
		</div>
	</section>
	<section id="content">
		<div class="container">
			<div class="row-fluid">
				<div class="span2">
					<%= render "user_lenders/nevigation_links2" %>
					<!--
					<div class="service-box aligncenter">
						<div class="">
							尚有點數：<i class="icon-circled icon-bgprimary icon ">3</i>
						</div>
						<span class="colored"><a href="">點此[獲得更多點數]</a></span>
					</div>
					
					<div class="service-box aligncenter">
						<h5 class="">點數說明</h5>
						<ul class="cat">
							<li>1件新房貸需求單=1點</li>
							<li>1件增轉貸需求單=1點</li>
							<li>取得潛在客戶聯絡資訊=1點</li>
						</ul>
					</div>
					-->
				</div>

				<% unresponed_loan_cases = LoanCase.joins(:lender_loan_case_ships).where("lender_id = #{@lender.id} and is_responded is NULL ").select {|l| l.deliver_time == nil} %>

				<% un_responded_onlendings = Onlending.joins(:lender_onlending_ships).where("lender_id = #{@lender.id} and is_responded is NULL ").select {|l| l.deliver_time == nil} %>

				<% responded_responses = @lender.onlending_responses %>

				<div class="span10">
					<div class="tabs">
						<ul class="nav nav-tabs">		
							<% if user_lender_signed_in? %>
								
								<% if action_name == "user_cases" %>
									<li class="active">
								<% else %>
									<li>
								<% end %>
								<!--數字是待回覆的數量 -->
							  <%= link_to '新房貸申請('+unresponed_loan_cases.size.to_s+')', root_path+"user_lenders/#{@lender.id}/user_cases" %></li> 

							  <% if action_name == "user_onlendings" %>
									<li class="active">
								<% else %>
									<li>
								<% end %>
							  <%= link_to '增轉貸申請('+un_responded_onlendings.size.to_s+')', root_path+"user_lenders/#{@lender.id}/user_onlendings" %></li>
							<% end %>
						</ul>
					</div>
					<% key = "+" %>
				  		<%	while key.index("+") %>
				    	<%		key = AES.encrypt(@lender.id.to_s, ENV["KEY"]) %>
				  		<%	end %>
				  	<!--
					<div class="row-fluid">
						<h4>尚未回覆案件</h4>
						<hr />
					</div>
					-->
					<h5 class="user-cases-h5">待回覆(<%= un_responded_onlendings.size %>)</h5>
					<hr >
					<table class="table table-striped">
						<thead>
						    <tr>
						    	<th>截止日期</th>
								<th>案件狀態</th>
								<th>申請人</th>
								<th>地址</th>
								<th>欲多貸金額</th>
								<th>回覆連結</th>
						    </tr>
						</thead>
						<tbody>						
						

						<% un_responded_onlendings.each do |onlending| %>

							<% token = "+" %>
				    	<%	while token.index("+") %>
				      <% 		token = AES.encrypt(onlending.id.to_s, ENV["KEY"]) %>
				    	<%	end %>

							<tr>
								<td class="span2"><%= onlending.dead_time.strftime("%Y/%m/%d %H:%M") %></td>
								<td>待回覆</td>
								<td><%= onlending.applicant_name %></td>
								<td><%= onlending.address %></td>
								<td><%= onlending.more_loan_price %>萬</td>
								<td>
									<%= link_to root_path+"onlendings/#{onlending.id}/response?key=#{key}&token=#{token}" , :target => "_blank" do %>
						    		<button class="btn btn-rounded btn-success">點此回覆</button>
						    		<% end %>
								</td>
							</tr>
						<% end %>
						</tbody>
					</table>

					<h5 class="user-cases-h5">已回覆(<%= responded_responses.size %>)</h5>
					<hr >
					<table class="table table-striped">
						<thead>
						    <tr>
						    	<th>截止日期</th>
								<th>案件狀態</th>
								<th>申請人</th>
								<th>聯絡電話</th>
								<th>地址</th>
								<th>欲多貸金額</th>
								<th>詳細資料</th>
								<th>修改回覆</th>
						    </tr>
						</thead>
						<tbody>

						<% responded_responses.each do |response| %>

							<% onlending = response.onlending %>

							<% token = "+" %>
				    	<%	while token.index("+") %>
				      <% 		token = AES.encrypt(onlending.id.to_s, ENV["KEY"]) %>
				    	<%	end %>

							<tr>
								<td class="span2"><%= onlending.dead_time.strftime("%Y/%m/%d %H:%M") %></td>
								<td class="">已回覆</td>
								
								<td class=""><%= onlending.applicant_name %></td>
								<td class="">
									<a href=<%= "#myModal#{onlending.id}"%> role="button" class="btn btn-warning btn-rounded" data-toggle="modal">取得聯絡電話</a>
								</td>
								<td><%= onlending.address %></td>
								<td class=""><%= onlending.more_loan_price %>萬</td>
								<td>
									<%= link_to root_path+"onlendings/#{onlending.id}/onlending_detail?key=#{key}&token=#{token}" , :target => "_blank" do %>
						    		<button class="btn btn-rounded">詳細資料</button>
						    		<% end %>
								</td>						
								<td>
									<% if onlending.deliver_time == nil %>
										<%= link_to root_path+"onlendings/#{onlending.id}/response?key=#{key}&token=#{token}" , :target => "_blank" do %>
							    		<button class="btn btn-rounded">修改回覆</button>
							    		<% end %>
						    	<% else %>
										<p>已截止回覆</p>
									<% end %>
								</td>
							</tr>

							<!-- Modal -->
							<div id="myModal<%= onlending.id %>" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="margin-top:5%">
							  <div class="modal-header">
							    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
							    <h3 id="myModalLabel">聯絡方式</h3>
							  </div>
							  <% if onlending.is_lender_contact == true %>
								  <div class="modal-body">
								    <p>申請者:<%= onlending.applicant_name %></p>
								    <p>Email:<%= onlending.applicant_email %></p>
								    <p>電話:<%= onlending.applicant_phone %></p>
								    <p>年齡:<%= onlending.applicant_age %></p>
								    <p>公司:<%= onlending.applicant_company_name %></p>
								    <p>職稱:<%= onlending.applicant_title %></p>
								  </div>
								<% else %>
									<div class="modal-body">
								    <p>此申請者不同意專員主動聯絡</p>
								  </div>
								<% end %>
							  <div class="modal-footer">
							    <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">確定</button>
							  </div>
							</div>

						<% end %>
						</tbody>
					</table>
				</div>

				
			</div>
		</div>
	</section>

</div>