<div id="wrapper">
	<section id="inner-headline">
		<div class="container-fluid">
			<div class="row-fluid">
				<div class="span12">
					<div class="inner-heading">
					<h2>我的案件</h2>
					</div>
				</div>
			</div>			
		</div>
	</section>
	<section id="content">
		<div class="container-fluid">
			<div class="row-fluid">
				<div class="span2">
					<%= render "user_lenders/nevigation_links2" %>
					<!--
					<div class="service-box aligncenter">
						<div class="">
							尚有點數：<i class="icon-circled icon-bgprimary icon ">3</i>
						</div>
						<span class="colored"><a href="">點此[獲得更多點數]</a></span>
					</div>
					-->
				</div>

				<div class="span10">
					<div class="tabs">
						<ul class="nav nav-tabs">		
							<% if user_lender_signed_in? %>
								
								<% if action_name == "user_cases" %>
									<li class="active">
								<% else %>
									<li>
								<% end %>
								<!--數字是待回覆的數量 -->
							  <%= link_to '新房貸申請(20)', root_path+"user_lenders/#{@lender.id}/user_cases" %></li> 

							  <% if action_name == "user_center" %>
									<li class="active">
								<% else %>
									<li>
								<% end %>
							  <%= link_to '增轉貸申請(12)', root_path+"user_lenders/#{@lender.id}/user_onlendings" %></li>
							<% end %>
						</ul>
					</div>
					<% key = "+" %>
				  		<%	while key.index("+") %>
				    	<%		key = AES.encrypt(@lender.id.to_s, ENV["KEY"]) %>
				  		<%	end %>
				  	<!--
					<div class="row-fluid">
						<h4>尚未回覆案件</h4>
						<hr />
					</div>
					-->
					<h5 class="user-cases-h5">待回覆</h5>
					
					<table class="table table-striped">
						<tr>
							<td>截止日期</td>
							<td>案件狀態</td>
							<td>申請人</td>
							<td>地址</td>
							<td>欲貸款金額</td>
							<td>回覆連結</td>
						</tr>
						
						
						<% loan_cases = @lender.loan_cases.select {|l| l.deliver_time == nil} %>

						<% loan_cases.each do |loan_case| %>

							<% token = "+" %>
					    	<%	while token.index("+") %>
					      		<% token = AES.encrypt(loan_case.id.to_s, ENV["KEY"]) %>
					    	<%	end %>

							<tr>
								<td><%= loan_case.dead_time.strftime("%Y/%m/%d %H:%M") %></td>
								<td>待回覆</td>
								<td><%= loan_case.applicant_name %></td>
								<td><%= loan_case.address %></td>
								<td><%= loan_case.to_loan_price %>萬</td>
								<td>
									<%= link_to("回覆連結", root_path+"loan_cases/#{loan_case.id}/responses/lenders?key=#{key}&token=#{token}", {:style => 'color: #09B3DD'}) %>
								</td>
							</tr>
						<% end %>
					</table>

					<h5 class="user-cases-h5">已回覆</h5>
					
					<table class="table table-striped">
						<tr>
							<td>截止日期</td>
							<td>案件狀態</td>
							<td>申請人</td>
							<td>聯絡電話</td>
							<td>地址</td>
							<td>欲貸款金額</td>
							<td>詳細資料</td>
						</tr>
						
						<% loan_cases = @lender.loan_cases.select {|l| l.deliver_time == nil} %>

						<% loan_cases.each do |loan_case| %>

							<% token = "+" %>
				    	<%	while token.index("+") %>
				      <% 		token = AES.encrypt(loan_case.id.to_s, ENV["KEY"]) %>
				    	<%	end %>

							<tr>
								<td><%= loan_case.dead_time.strftime("%Y/%m/%d %H:%M") %></td>
								<td>已回覆</td>
								<td><%= loan_case.applicant_name %></td>
								<td><a href="#" class="btn btn-warning btn-rounded">取得聯絡電話</a></td>
								<td><%= loan_case.address %></td>
								<td><%= loan_case.to_loan_price %>萬</td>
								<td>
									<%= link_to("詳細資料", root_path+"loan_cases/#{loan_case.id}/case_detail?key=#{key}&token=#{token}", {:style => 'color: #09B3DD'}) %>
								</td>
							</tr>
						<% end %>
					</table>
				</div>

				
			</div>
		</div>
	</section>

</div>