<style>
.demand {
list-style-type: decimal;
}
</style>
<p>專員您好,</p>

<p>
以下為新進詢問案件資料，請於2014年7月10日18:00前到此連結回覆：
<a href="www.e-loan.com.tw/…..xxxx…../xxxx….xxx….">案件編號：xxxxxx-xxxx 100001</a>
</p>
<div>
    <h2>貸款需求</h2>
    <hr>
    <ul class="demand" id="demand-1">
        <li>是否成交：<%= @loan_case.is_dealed %></li>
        <li>成交總價/預計成交總價: <%= @loan_case.to_buy_price %> 萬（如有車位，含車位價格)</li>
        <li>車位購買價: <%= @loan_case.parking_price %> 萬</li>
        <li>欲貸款金額： <%= @loan_case.to_loan_price %> 萬</li>
        <li>是否需要寬限期： <%= @loan_case.is_need_grace_period %> ，寬限期： <%= @loan_case.grace_period_years %> 年</li>
        <li>貸款期限： <%= @loan_case.to_loan_period_years %> </li>
        <li>備註： <%= @loan_case.other_info %> </li>
    </ul>
    
    <h2>房屋資訊</h2>
    <hr>
    <ul class="demand" id="demand-2">
        <li>地址: <%= @loan_case.address %> </li>
        <li>樓層：<%= @loan_case.layer %> 樓</li>
        <li>建築類型： <%= @loan_case.building_type %> </li>
        <li>格局： <%= @loan_case.rooms %> 房/ <%= @loan_case.living_rooms %> 廳/ <%= @loan_case.rest_rooms %> 衛</li>
        <li>建物權狀坪數: <%= @loan_case.building_area %> 坪（不含車位）</li>
        <li>公設坪數： <%= @loan_case.public_area %> 坪（非必填）</li>
        <li>土地持分坪數： <%= @loan_case.land_area %> 坪（非必填）</li>
        <li>屋齡： <%= @loan_case.building_age %> 年（填0為新成屋）</li>
        <li>裝潢： <%= @loan_case.house_decoration %> </li>
        <li>屋況： <%= @loan_case.house_condition %> </li>
        <li>頂樓是否有加蓋： <%= @loan_case.is_top_built %> 有</li>
        <li>加蓋坪數： <%= @loan_case.top_building_area %> 坪</li>
        <li>是否有車位: <%= @loan_case.parking_type %> </li>
        <li>車位樓層: <%= @loan_case.parking_layer %> </li>
        <li>車位坪數: <%= @loan_case.parking_area %> </li>
    </ul>
    
    <h2>個人資訊</h2>
    <hr>
    <ul class="demand" id="demand-3">
        <li>年齡: <%= @loan_case.applicant_age %> </li>
        <li>公司名稱： <%= @loan_case.applicant_company_name %> </li>
        <li>是否為公司負責人： <%= @loan_case.is_applicant_company_founder %> </li>
        <li>職稱： <%= @loan_case.applicant_title %> </li>
        <li>年資： <%= @loan_case.applicant_serve_year %> 年</li>
        <li>年薪： <%= @loan_case.applicant_year_earning %>萬</li>
        <li>其他收入： <%= @loan_case.applicant_other_earning %></li>
        <li>公司屬性： <%= @loan_case.applicant_company_type %></li>
        <li>名下是否有房子： <%= @loan_case.applicant_is_have_house %> </li>
        <li>名下其他負債：房貸：<%= @loan_case.applicant_other_house_loan %> 萬；信貸： <%= @loan_case.applicant_other_credit_loan %> ；車貸： <%= @loan_case.applicant_other_car_loan %> 萬；助學貸款： <%= @loan_case.applicant_other_learning_loan %> 萬</li>
        <li>過去半年是否有動用過信用卡或現金卡循環利息： <%= @loan_case.is_applicant_use_revolving_interest %> </li>
        <li>是否有使用支票： <%= @loan_case.is_applicant_use_check %> </li>
        <li>過去三年是否有跳票記錄： <%= @loan_case.is_applicant_have_bounce_check %> </li>
    </ul>
    
</div>

<p>請於截止日前回覆，祝　業績長紅！</p>

<p>
e貸宗師 客服中心敬上
</p>
<p>
官方網站：<a href="http://e-loan.com.tw">http://e-loan.com.tw</a>
客服信箱：service@e-loan.com.tw
</p>

