<style>
.demand {
list-style-type: decimal;
}
</style>
<p><%= @lender.name %>專員您好,</p>

<p>
以下為新進詢問案件資料，請於 <%= (@loan_case.created_at + 3.days).strftime("%Y/%m/%d %H:%M") %>前到此連結回覆：

<a href="www.e-loan.com.tw/loan_cases/<%= @loan_case.id %>/responses/lenders?key=<%= @key %>&token=<%= @token%>" >案件編號：<%= @loan_case.id %></a>
</p>

<p>
<a href="www.e-loan.com.tw/loan_cases/<%= @loan_case.id %>/responses/lenders?key=<%= @key %>&token=<%= @token%>" >www.e-loan.com.tw/loan_cases/<%= @loan_case.id %>/responses/lenders?key=<%= @key %>&token=<%= @token%></a>
</p>


<div>
    <h2>貸款需求</h2>
    <hr>
    <ul class="demand" id="demand-1">
        <% if  @loan_case.is_dealed == true %>
            <li>是否成交：已簽約成交</li>
        <% else %>
            <li>是否成交：準備議價，尚未成交</li>
        <% end %>
        <li>成交總價/預計成交總價: <%= @loan_case.to_buy_price %> 萬（如有車位，含車位價格)</li>
        <li>車位購買價: <%= @loan_case.parking_price %> 萬</li>
        <li>欲貸款金額： <%= @loan_case.to_loan_price %> 萬</li>
        <% if  @loan_case.is_need_grace_period == true %>
            <li>是否需要寬限期：
            是, 寬限期： <%= @loan_case.grace_period_years %> 年</li>
        <% else %>
            <li>是否需要寬限期：否</li>
        <% end %> 
        <% if @loan_case.to_loan_period_years == 0 %>
            <li>貸款期限： 皆可 </li>
        <% else %>
            <li>貸款期限： <%= @loan_case.to_loan_period_years %> 年</li>
        <% end %>
        <% if @loan_case.other_info != nil && @loan_case.other_info != "" %>
            <li>備註： <%= @loan_case.other_info %> </li>
        <% else %>
            <li>備註： 無</li>
        <% end %> 
    </ul>
    
    <h2>房屋資訊</h2>
    <hr>
    <ul class="demand" id="demand-2">
        <li>地址: <%= @loan_case.address %> </li>
        <li>樓層：<%= @loan_case.layer %> 樓</li>
        <li>建築類型： <%= @loan_case.building_type %> </li>
        <li>格局： <%= @loan_case.rooms %> 房/ <%= @loan_case.living_rooms %> 廳/ <%= @loan_case.rest_rooms %> 衛</li>
        <li>建物權狀坪數: <%= @loan_case.building_area %> 坪（不含車位）</li>
        <li>屋齡： <%= @loan_case.building_age %> 年（填0為新成屋）</li>
        <li>裝潢： <%= @loan_case.house_decoration %> </li>
        <li>屋況： <%= @loan_case.house_condition %> </li>
        <% if  @loan_case.is_top_built == true %>
            <li>頂樓是否有加蓋：有</li>
            <li>加蓋坪數： <%= @loan_case.top_building_area %> 坪</li>
        <% else %>
            <li>頂樓是否有加蓋：否</li>
        <% end %>
        <% if  @loan_case.parking_type != "無" %>
            <li>是否有車位：有</li>
            <li>車位形態: <%= @loan_case.parking_type %> </li>
            <li>車位坪數: <%= @loan_case.parking_area %>坪</li>
        <% else %>
            <li>是否有車位：無</li>
        <% end %>
    </ul>
    
    <h2>個人資訊</h2>
    <hr>
    <ul class="demand" id="demand-3">
        <li>年齡: <%= @loan_case.applicant_age %> 歲</li>
        <li>公司名稱： <%= @loan_case.applicant_company_name %> </li>
        <% if @loan_case.applicant_title != nil %>
            <li>職稱： <%= @loan_case.applicant_title %></li>
        <% end %>
        <li>年資： <%= @loan_case.applicant_serve_year %> 年</li>
        <li>年薪： <%= @loan_case.applicant_year_earning %>萬</li>
        
        <% if @loan_case.applicant_other_earning != nil && @loan_case.applicant_other_earning != "" %>
            <li>其他收入： <%= @loan_case.applicant_other_earning %>萬</li>
        <% else %>
            
        <% end %>

        <% if @loan_case.applicant_is_have_house == true %>
            <li>名下是否有房子： 是 </li>
        <% else %>
            <li>名下是否有房子： 否 </li>
        <% end %>
        <li>名下其他負債：房貸：
            <% if @loan_case.applicant_other_house_loan != nil && @loan_case.applicant_other_house_loan != ""%>
                <%= @loan_case.applicant_other_house_loan %> 萬；
            <% else %>
                0萬
            <% end %>
            信貸：
            <% if @loan_case.applicant_other_credit_loan != nil && @loan_case.applicant_other_credit_loan !="" %> 
                <%= @loan_case.applicant_other_credit_loan %> 萬
            <% else %>
                0萬
            <% end %>
        </li>
        <% if @loan_case.is_credit_ok == true %>
            <li>是否有信用瑕疵： 否 </li>
        <% else %>
            <li>是否有信用瑕疵： 是 </li>
        <% end %>
    </ul>
    
</div>

<p>請於截止日前回覆，祝　業績長紅！</p>

<p>
e貸宗師 客服中心敬上
</p>
<p>
官方網站：<a href="http://e-loan.com.tw">http://e-loan.com.tw</a>
客服信箱：service@e-loan.com.tw
</p>

