<div id="wrapper">
		
  <% now = Time.now%>
  <% deadline = @onlending.created_at + 5.days %>

	<section id="inner-headline">
		<div class="container-fluid">
			<div class="row-fluid">
				<div class="span12">
					<div class="inner-heading">
					   <h2>回覆貸款需求&nbsp;&nbsp;&nbsp;[轉增貸]案件編號： <%= @onlending.id %></h2>
              <% if now < deadline %>
                <h4>請於 <%= deadline.strftime("%Y/%m/%d %H:%M") %>前回覆<h4>
              <% else %>
                <h2 style="color:#FF8000">此案件已過了回覆時間<h2>
              <% end %>
					</div>

          <% if !@onlending_response.present? %>
            <h1 style="color:#FF8000">感謝您的回覆, 我們會儘快將您提供的資訊告知申請者。</h1> 
          <% end %>

				</div>	
			</div>			
		</div>
	</section>

	<section id="content">
		<div class="container-fluid">
			<div class="row-fluid">
				<div class="span6">      
          <h2>貸款需求</h2>
          <hr>
          <ul class="demand" id="demand-1">
              
          		<li>目前貸款銀行： <%= @onlending.current_bank %></li>
				    	<li>剩餘貸款金額： <%= @onlending.current_loan_price %> 萬</li>
							<li>預計增貸金額： <%= @onlending.more_loan_price %> 萬</li>

              <% if  @onlending.is_need_grace_period == true %>
                  <li>是否需要寬限期：
                  是, ，寬限期： <%= @onlending.grace_period_years %> 年</li>
              <% else %>
                  <li>是否需要寬限期：否</li>
              <% end %> 
              <% if  @onlending.grace_period_years != 0 %>
                  <li>貸款期限： <%= @onlending.to_loan_period_years %> 年</li>
              <% else %>
                  <li>貸款期限：皆可</li>
              <% end %>
              <% if  @onlending.other_info != "" %>
                  <li>特殊需求與說明： <%= @onlending.other_info %> </li>
              <% else %>
                  <li>特殊需求與說明：無</li>
              <% end %>              
          </ul>
          
          <div class="blankline20"></div>
          <h2>房屋資訊</h2>
          <hr>
          <ul class="demand" id="demand-2">
              <li>地址: <%= @onlending.address %> </li>
              <li>樓層：<%= @onlending.layer %> 樓</li>
              <li>建築類型： <%= @onlending.building_type %> </li>
              <li>格局： <%= @onlending.rooms %> 房/ <%= @onlending.living_rooms %> 廳/ <%= @onlending.rest_rooms %> 衛</li>
              <li>建物權狀坪數: <%= @onlending.building_area %> 坪（不含車位）</li>
              <li>屋齡： <%= @onlending.building_age %> 年（填0為新成屋）</li>
              <li>裝潢： <%= @onlending.house_decoration %> </li>
              <li>屋況： <%= @onlending.house_condition %> </li>
              <% if  @onlending.is_top_built == true %>
                  <li>頂樓是否有加蓋：有</li>
                  <li>加蓋坪數： <%= @onlending.top_building_area %> 坪</li>
              <% else %>
                  <li>頂樓是否有加蓋：否</li>
              <% end %>
              <% if  @onlending.parking_type != "無" %>
                  <li>是否有車位：有</li>
                  <li>車位形態: <%= @onlending.parking_type %> </li>
                  <li>車位坪數: <%= @onlending.parking_area %>坪</li>
              <% else %>
                  <li>是否有車位：無</li>
              <% end %>
          </ul>
          
          <div class="blankline20"></div>
          <h2>個人資訊</h2>
          <hr>
          <ul class="demand" id="demand-3">
              <li>年齡:  <%= @onlending.applicant_age %> 年</li>
              <li>公司名稱： <%= @onlending.applicant_company_name %> </li>
              <li>職稱： <%= @onlending.applicant_title %> </li>
              <li>年資： <%= @onlending.applicant_serve_year %> 年</li>
              <li>年薪： <%= @onlending.applicant_year_earning %>萬</li>
              <li>其他收入： <%= @onlending.applicant_other_earning %></li>
              <% if @onlending.applicant_is_have_house == true %>
                  <li>名下是否有房子： 是 </li>
              <% else %>
                  <li>名下是否有房子： 否 </li>
              <% end %>
              <li>名下其他負債：房貸：<%= @onlending.applicant_other_house_loan %> 萬；信貸： <%= @onlending.applicant_other_credit_loan %> </li>
              <% if @onlending.is_credit_ok == true %>
                  <li>是否有信用瑕疵： 否 </li>
              <% else %>
                  <li>是否有信用瑕疵： 是 </li>
              <% end %>
          </ul>
          <div class="blankline20"></div>
				</div>
				
        <% if now < deadline %>

  				<div class="span6">	
  					<aside class="">
              <% if @onlending_response.present? %>

                <% if @onlending_response.errors.any? %>
                  <div style="border-width:3px;border-style:dashed;border-color:#FFAC55;padding:5px; margin-bottom:30px">
                    <h2>資料格式錯誤: </h2>
                    <ul>
                      <% @onlending_response.errors.full_messages.each do |message|%>
                        <li style="color:#FF8000"><%= message %></li>
                      <% end %>
                    </ul>
                  </div>
                <% end %>

                <% url_path = onlending_response_path %>

                <%= form_for @onlending_response, :url => url_path, html: {class: "form-horizontal"} do |f| %>
      						<div class="widget">
                    <input type="hidden" name="key" value=<%= @key %>>
                    <input type="hidden" name="token" value=<%= @token %>>
      							<h2 class="widgetheading">貸款條件回覆表單<span></span></h2>
      							<hr>

                    <div class="control-group">
                        <label class="control-label" for="">可增貸金額(不含目前剩餘貸款)*</label>
                        <div class="controls">
                          <%= f.text_field :more_loan_money, :class => "input-medium" %>萬
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="">貸款年限*</label>
                        <div class="controls">
                          <%= f.text_field :loan_years, :class => "input-medium" %>年
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="">寬限期*</label>
                        <div class="controls">
                          <%= f.text_field :grace_period, :class => "input-medium", :placeholder => "無、1年、2年" %>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="">利率說明*</label>
                        <div class="controls">
                          <%= f.text_area :interest_explaination, :class => "input-xlarge", :rows => "5" %>
                        </div>
                    </div>
                    
                    <div class="control-group">
                        <label class="control-label" for="">是否有綁約*</label>
                        <div class="controls">
                            <label class="radio">
                                <%= radio_button_tag("onlending_response[is_binded]", "0",checked = true) %>否
                            </label>
                            <label class="radio">
                                <%= radio_button_tag("onlending_response[is_binded]", "1") %>是
                            </label>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="">費用說明*</label>
                        <div class="controls">
                            <%= f.text_area :expense_explaination, :class => "input-xlarge", :rows => "5" %>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="">其他說明</label>
                        <div class="controls">
                            <%= f.text_area :other_info, :class => "input-xlarge", :rows => "5", :placeholder => "其他條件或優惠說明" %>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <div class="form-actions">
                              <% if @onlending_response.new_record? %>
                                <button class="btn btn-success input-medium" type="submit">送出</button>
                              <% else %>
                                <button class="btn btn-success input-medium" type="submit">修改</button>
                              <% end %>
                            </div>
                        </div>
                    </div>
      						</div>
                </form>
                <% end %>  
              <% end %>
  					</aside>
  				</div>
        <% end %>

			</div>
		</div>
	</section>
</div>
<a href="#" class="scrollup"><i class="icon-angle-up icon-square icon-bglight icon-2x active"></i></a>