<div id="wrapper">
	
	<%= render "devise/shared/nevigation_links" %>
	
	<section id="content">
		<div class="container">
				  
				<div class="row-fluid form-horizontal">
					
					<%= form_for @bank_product, url: root_path+"backstage/bank_products/#{@bank_product.id}/update" do |f| %>

					<div class="control-group">
					    <label class="control-label" for="">選擇銀行<span class="text-error">*</span><br /></label>
					    <div class="controls">
								<%= f.select(:bank_id, Bank.all.collect {|bank| [ bank.name, bank.id ] } ) %>
					    </div>
					</div>
					
					<div class="control-group">
					    <label class="control-label" for="">方案名稱<span class="text-error">*</span><br /></label>
					    <div class="controls">
								<%= f.text_field :title%>
					    </div>
					</div>
					<div class="control-group">
					    <label class="control-label" for="">房貸利率<span class="text-error">*</span><br /></label>
					    <div class="controls">
								<%= f.text_area :interest, :style=> "width:95%" %>
					    </div>
					</div>
					<div class="control-group">
					    <label class="control-label" for="">綁約<span class="text-error">*</span><br /></label>
					    <div class="controls">
								<%= f.text_field :binding %>
					    </div>
					</div>
					<div class="control-group">
					    <label class="control-label" for="">寬限期<span class="text-error">*</span><br /></label>
					    <div class="controls">
								<%= f.text_field :grace_year %>
					    </div>
					</div>
					<div class="control-group">
					    <label class="control-label" for="">貸款成數<span class="text-error">*</span><br /></label>
					    <div class="controls">
								<%= f.text_field :portion %>
					    </div>
					</div>
					<div class="control-group">
					    <label class="control-label" for="">其他貸款條件<span class="text-error">*</span><br /></label>
					    <div class="controls">
								<%= f.text_area :other_info, :style=> "width:95%" %>
					    </div>
					</div>

					<div class="control-group">
					    <div class="controls">
							<div class="form-actions">
							  <button class="btn btn-success input-medium" type="submit">送出</button>
							</div>
					    </div>
					</div>

					<% end %>

					<div class="control-group">
						<label class="control-label" for=""><span class="text-error">*</span><br /></label>
						<div class="controls">
							<%= link_to(root_path+"backstage/bank_products/#{@bank_product.id}/delete") do %>
								<button>刪除</button>
							<% end %>
						</div>
					</div>

				</div>
		

		</div>
	</section>


	<!-- divider -->
	<div class="row">
		<div class="span12">
		</div>
	</div>
	<!-- end divider -->

</div>