
<div id="wrapper">
	
	<%= render "devise/shared/nevigation_links" %>
	
	<section id="content">
		<div class="container">
			<div class="row">
				<h2>等待回覆案件</h2>
			</div>

			<div class="row">

				<table border=1>
						<tr>
							<td>申請填表時間</td>
							<td>申請人</td>
							<td>已回覆專員數/寄出專員數</td>
							<td>回覆率</td>
							<td>剩下幾天到期</td>
							<td>送出</td>
						</tr>
					<% @loan_cases.where("status_id = 1").each do |f|%>
						<%= form_for f, :url => backstage_deliver_mail_path, html: {class: "form-horizontal"} do |form| %>
					 	<tr>
							<td><%= f.created_at.strftime("%m/%d/%y")%></td>
							<td><%= f.applicant_name %></td>
							<%  num_responded = LenderLoanCaseShip.where("loan_case_id = #{f.id} and is_responded = true").size()%>
							<%  num_sended = LenderLoanCaseShip.where("loan_case_id = #{f.id}").size()%>
							<td> <%= num_responded %> / <%= num_sended %></td>

							<% if num_responded == 0%>
								<td> 0%</td>
							<% elsif num_responded != 0 &&  num_responded == num_sended %>
								<td> 100%</td>
							<% else %>			
								<% percent = num_responded.to_d / num_sended * 100 %>
								<% ps = percent.to_s %>
								<td> <%= ps[0..1] %> %</td>
							<% end %>

							<td><%= (3 - (Time.now - f.created_at)/1.day).to_s[0..3]%> 天</td>
							<td><%= form.submit "送出回覆信" %></td>
						</tr>
						<% end %>
					<% end %>
				</table>			

			</div>

			<div class="row">
				<h2>評估中</h2>
			</div>

			<div class="row">

				<table border=1>
						<tr>
							<td>狀態更新時間</td>
							<td>送出回覆時間</td>
							<td>申請人</td>
							<td>申請人電話</td>
							<td>備註</td>
							<td>案件狀態</td>
							<td>送出</td>
						</tr>
					<% @loan_cases.where("status_id = 2").each do |f|%>
						<%= form_for f, :controller =>"loan_cases", :action => "update"  , html: {class: "form-horizontal"} do |form| %>
					 	<tr>
							<td><%= f.updated_at.strftime("%m/%d/%y") %></td>
							<% if f.deliver_time != nil %>
								<td><%= f.deliver_time.strftime("%m/%d/%y") %></td>
							<% else %>
								<td></td>
							<% end %>
							<td><%= f.applicant_name %></td>
							<td><%= f.applicant_phone %></td>
							<td><%= form.text_field :notes, :placeholder => f.notes, :class => "input-large"%></td>
							<td><%= form.select(:building_type, ['評估中','送件中', '核貸中','已核貸','失敗'], {:selected  => "評估中"}, { :class => 'span2'}) %></td>
							<td><button type="button">送出</button></td>
						</tr>
						<% end %>
					<% end %>
				</table>			

			</div>

			<div class="row">
				<h2>送件中</h2>
			</div>

			<div class="row">

				<table border=1>
						<tr>
							<td>狀態更新時間</td>
							<td>送出回覆時間</td>
							<td>申請人</td>
							<td>申請人電話</td>
							<td>備註</td>
							<td>案件狀態</td>
							<td>核貸專員</td>
							<td>送出</td>
						</tr>
					<% @loan_cases.where("status_id = 3").each do |f|%>
						<%= form_for f, :controller =>"loan_cases", :action => "update"  , html: {class: "form-horizontal"} do |form| %>
					 	<tr>
							<td><%= f.updated_at.strftime("%m/%d/%y") %></td>
							<% if f.deliver_time != nil %>
								<td><%= f.deliver_time.strftime("%m/%d/%y") %></td>
							<% else %>
								<td></td>
							<% end %>
							<td><%= f.applicant_name %></td>
							<td><%= f.applicant_phone %></td>
							<td><%= form.text_field :notes, :placeholder => f.notes, :class => "input-large"%></td>
							<td><%= form.select(:building_type, ['評估中','送件中', '核貸中','已核貸','失敗'], {:selected  => "評估中"}, { :class => 'span2'}) %></td>
							<td><%= form.select(:building_type, Lender.all.map{|l| l.name}, {}, { :class => 'span2'}) %></td>
							<td><button type="button">送出</button></td>
						</tr>
						<% end %>
					<% end %>
				</table>			

			</div>

			<div class="row">
				<h2>核貸中</h2>
			</div>

			<div class="row">

				<table border=1>
						<tr>
							<td>狀態更新時間</td>
							<td>申請人</td>
							<td>申請人電話</td>
							<td>銀行/壽險</td>
							<td>核貸專員</td>
							<td>專員電話</td>
							<td>備註</td>
							<td>案件狀態</td>
							<td>送出</td>
						</tr>
					<% @loan_cases.where("status_id = 4").each do |f|%>
						<%= form_for f, :controller =>"backstage", :action => "deliver_mail"  , html: {class: "form-horizontal"} do |form| %>
					 	<tr>
							<td><%= f.updated_at.strftime("%m/%d/%y") %></td>
							<td><%= f.applicant_name %></td>
							<td><%= f.applicant_phone %></td>
							<% if f.lender_id != nil %>
								<td><%= f.lender.bank %></td>
							<% else %>
								<td></td>
							<% end %>
							<% if f.lender_id != nil %>
								<td><%= f.lender.name %></td>
							<% else %>
								<td></td>
							<% end %>
							<% if f.lender_id != nil %>
								<td><%= f.lender.contact_personal_phone %></td>
							<% else %>
								<td></td>
							<% end %>
							<td><%= form.text_field :notes, :placeholder => f.notes, :class => "input-large"%></td>
							<td><%= form.select(:building_type, ['評估中','送件中', '核貸中','已核貸','失敗'], {:selected  => "送件中"}, { :class => 'span2'}) %></td>
							<td><button type="button">送出</button></td>
						</tr>
						<% end %>
					<% end %>
				</table>			

			</div>

			<div class="row">
				<h2>已核貸</h2>
			</div>

			<div class="row">

				<table border=1>
						<tr>
							<td>狀態更新時間</td>
							<td>申請人</td>
							<td>申請人電話</td>
							<td>銀行/壽險</td>
							<td>核貸專員</td>
							<td>專員電話</td>
							<td>是否收費</td>
							<td>是否回饋</td>
							<td>備註</td>
							<td>案件狀態</td>
							<td>送出</td>
						</tr>
					<% @loan_cases.where("status_id = 5").each do |f|%>
					 	<tr>
					 		<%= form_for f, :controller =>"loan_cases", :action => "update"  , html: {class: "form-horizontal"} do |form| %>
							<td><%= f.updated_at.strftime("%m/%d/%y") %></td>
							<td><%= f.applicant_name %></td>
							<td><%= f.applicant_phone %></td>
							<% if f.lender_id != nil %>
								<td><%= f.lender.bank %></td>
							<% else %>
								<td></td>
							<% end %>
							<% if f.lender_id != nil %>
								<td><%= f.lender.name %></td>
							<% else %>
								<td></td>
							<% end %>
							<% if f.lender_id != nil %>
								<td><%= f.lender.contact_personal_phone %></td>
							<% else %>
								<td></td>
							<% end %>
							<td><%= form.select(:building_type, ['是','否'], {:selected  => "是"}, { :class => 'span1'}) %></td>
							<td><%= form.select(:building_type, ['是','否'], {:selected  => "是"}, { :class => 'span1'}) %></td>
							<td><%= form.text_field :notes, :placeholder => f.notes, :class => "input-large"%></td>
							<td><%= form.select(:building_type, ['評估中','送件中', '核貸中','已核貸','失敗'], {:selected  => "已核貸"}, { :class => 'span2'}) %></td>
							<td><button type="button">送出</button></td>
						</tr>
						<% end %>
					<% end %>
				</table>			

			</div>
			

			<div class="row">
				<h2>失敗案件</h2>
			</div>

			<div class="row">

				<table border=1>
						<tr>
							<td>狀態更新時間</td>
							<td>申請人</td>
						</tr>
					<% @loan_cases.where("status_id = 6").each do |f|%>
					 	<tr>
							<td><%= f.updated_at.strftime("%m/%d/%y") %></td>
							<td><%= f.applicant_name %></td>
						</tr>
					<% end %>
				</table>			

			</div>

			<!-- divider -->
			<div class="row">
				<div class="span12">
					<div class="solidline"></div>
				</div>
			</div>
			<!-- end divider -->
			
	<div class="blankline30"></div>

		</div>
	</section>

</div>