<div id="wrapper">
	
	<%= render "devise/shared/nevigation_links" %>
	
	<section id="content">
		<div class="container">

			<div class="row" style="margin-bottom:0px">
				<h4>區域專員</h4>
			</div>

			<div class="row">
				<% County.all.each do |county| %>
					<%= county.name %>：
					<%= link_to(root_path+"backstage/counties/#{county.id}", {:style => 'color: #09B3DD'}) do %>
							 	<%= county.lenders.size() %>
					<% end %>				
				<% end %>
			</div>

			<div class="row">
				<h4>專員列表</h4>
			</div>

			<table class="table" border=1>
				<tr>
					<td>前台顯示</td>
					<td>專員照片</td>
					<td>專員名稱</td>
					<td>Email</td>
					<td>個人電話</td>
					<td>公司</td>
					<td>確認可收信</td>
					<td></td>
				</tr>

				<% @lenders.each do |lender|%>
					<%= form_for lender, :url => backstage_update_lender_path  , html: {class: "form-horizontal"} do |form| %>
						<tr>
							<input type="hidden" name="lender[id]" value=<%= lender.id %>>
							
							<% if lender.is_show == false %>
								<td><%= form.select(:is_show, ['是','否'], {:selected  => "否"}, { :class => 'span1'}) %></td>
							<% else %>
								<td><%= form.select(:is_show, ['是','否'], {:selected  => "是"}, { :class => 'span1'}) %></td>
							<% end %>

							<% if lender.avatar_file_name != nil%>
								<td>
									<%= image_tag lender.avatar.url(:thumb) %>
									<p>原圖連結:<%= link_to "連結", lender.avatar.url(:original),  {:style => 'color: #09B3DD'}%></p>
									<p>選新圖片: <%= form.file_field :avatar %></p>
								</td>
							<% else %>
								<td>
									<p>原圖連結:無圖片</p>
									<p>選新圖片: </p>
									<%= form.file_field :avatar %>
								</td>
							<% end %>

							<td>
								<%= link_to(root_path+"backstage/lenders/#{lender.id}", {:style => 'color: #09B3DD'}) do %>
									<%= lender.name %>
								<% end %>
							</td>

							<td><%= form.text_field :email, :placeholder => lender.email, :class => "input-large"%></td>
							<td><%= lender.contact_personal_phone %></td>
							<td><%= lender.bank %></td>

							<% if lender.is_person_confirmed == false %>
								<td><%= form.select(:is_person_confirmed, ['是','否'], {:selected  => "否"}, { :class => 'span1'}) %></td>
							<% else %>
								<td><%= form.select(:is_person_confirmed, ['是','否'], {:selected  => "是"}, { :class => 'span1'}) %></td>
							<% end %>

							<td><%= form.submit "送出" %></td>
						</tr>
					<% end %>
				<% end %>
			</table>	
		</div>
	</section>

	<!-- divider -->
		<div class="row">
			<div class="span12">
			</div>
		</div>
	<!-- end divider -->

</div>