<body>

<div id="wrapper">
	<section id="inner-headline">
		<div class="container">
			<div class="row-fluid">
				<div class="span12">
					<div class="inner-heading">
					<h2>債務整合問題</h2>
					</div>
				</div>	
			</div>			
		</div>
	</section>
	
	<section id="content">
		<div class="container">
			<div class="row-fluid">

				<div class="span12">
					<h4 class="title"><strong>債務整合</strong> 常見問題</h4>
					<!-- start: Accordion -->
					<div class="accordion" id="accordion2">

						<% Qa.where("type_id = 4").each_with_index do |qa, index| %>

							<div class="accordion-group">

								<% if index == 0 %>
									<div class="accordion-heading">
										<a class="accordion-toggle active" data-toggle="collapse" data-parent="#accordion2" href="#collapse<%= index%>">
											<i class="icon-plus"></i>
											Q<%= index+1 %>. <%= qa.title %>？
										</a>
									</div>
									<div id="collapse<%= index %>" class="accordion-body collapse in">
										<div class="accordion-inner">
										  <%= qa.content.gsub(/\n/, '<br/>').html_safe %>
										</div>
									</div>
								<% else %>
									<div class="accordion-heading">
										<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse<%= index%>">
											<i class="icon-plus"></i>
											Q<%= index+1 %>. <%= qa.title %>？
										</a>
									</div>
									<div id="collapse<%= index %>" class="accordion-body collapse">
										<div class="accordion-inner">
										  <%= qa.content.gsub(/\n/, '<br/>').html_safe %>
										</div>
									</div>
								<% end %>

							</div>

						<% end %>

					</div>
					<!--end: Accordion -->
					
					<div class="blankline30"></div>

				</div>	
			</div>

			<h4 class="title"> 其他問題</h4>
			<div class="solidline"></div>
			
			<div class="row">			
				<div class="span3">
					<div class="service-box aligncenter" style="height:300px">
						<div class="icon">
							<i class="icon-circled icon-bgsuccess icon-home icon-4x"></i>
						</div>
						<h5><span class="colored">房貸問題</span></h5>
						<h6>
							房貸利率<br>
							貸款成數<br>
							申貸流程...
						</h6>
						<%= link_to "各種房貸問題 > ", knowledge_home_loan_knowledge_path, :class => "btn btn-medium btn-danger", :style =>"padding:10px 10px"%>
					</div>
				</div>
				<div class="span3">
					<div class="service-box aligncenter" style="height:300px">
						<div class="icon">
							<i class="icon-circled icon-bgsuccess icon-credit-card icon-4x"></i>
						</div>
						<h5><span class="colored">信貸問題</span></h5>
						<h6>
							信貸利率<br>
							貸款條件<br>
							聯徵,信用評分...
						</h6>
						<%= link_to "各種信貸問題 > ", knowledge_credit_loan_knowledge_path, :class => "btn btn-medium btn-info", :style =>"padding:10px 10px"%>
					</div>
				</div>
				<div class="span3">
					<div class="service-box aligncenter" style="height:300px">
						<div class="icon">
							<i class="icon-circled icon-bgsuccess icon-money icon-4x"></i>
						</div>
						<h5><span class="colored">汽車貸款</span></h5>
						<h6>
							汽車價值<br>
							貸款利率<br>
							貸款流程...
						</h6>
						<%= link_to "各種車貸問題 > ", knowledge_car_loan_knowledge_path, :class => "btn btn-medium btn-warning", :style =>"padding:10px 10px"%>
					</div>
				</div>

				<div class="span3">
					<div class="service-box aligncenter" style="height:300px">
						<div class="icon">
							<i class="icon-circled icon-bgsuccess icon-briefcase icon-4x"></i>
						</div>
						<h5><span class="colored">債務整合</span></h5>
						<h6>
							月光族<br>
							債權轉移<br>
							減低利息...
						</h6>
						<%= link_to "各種債務整合問題 > ", knowledge_integrate_knowledge_path, :class => "btn btn-medium btn-primary", :style =>"padding:10px 10px"%>
					</div>
				</div>

			</div>

			
		</div>
	</section>

</div>
<a href="#" class="scrollup"><i class="icon-angle-up icon-square icon-bglight icon-2x active"></i></a>	

</body>