<!DOCTYPE html>
<html>
<head>
  <!-- <title>LoanQueryApp</title> -->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <meta charset="utf-8">
    <title>EZBANK 讓您輕鬆取得理想貸款！</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="ezbank,ezBank, EZBANK, eloan, e-loan, 貸款, 房貸, 信貸, 轉貸, 房屋貸款, 利息, 利率, 房貸利率, 寬限期, 銀行, 借款" />
    <meta name="description" content="EZBANK讓您「輕鬆取得優惠房貸」，一次搞定惱人的房屋貸款！" />
    <meta property="og:title" content="EZBANK讓您「輕鬆取得優惠房貸」" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://ezbank.com.tw/" />
    <meta property="og:image" content=<%= root_url + image_path("img/fb-share-image3.jpg")%> />
    <meta property="og:description" content="EZBANK讓您「輕鬆取得優惠貸款」，一次搞定惱人的貸款！" />
    <meta property="fb:admins" content="1434772394"/>
    <meta property="fb:app_id" content="927919600557594" />
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <%= favicon_link_tag 'favicon.ico' %>

</head>
<body>

<%= render :partial => "partials/header" %>
<%= yield %>
<%= render :partial => "partials/footer" %>

</body>
</html>
